/* 
    Author : Ankur Loriya <ankur.loriya@gmail.com><about.me/ankurloriya>
*/

body {
    font-family: arial, sans-serif;
}

div.left {
    float: left;
}

div.right {
    float: right;
}

div.stage {
    padding: 10px;
}

div.stage .img {
    height: 0px;
    width: 0px;
}

div.stage .img.border {
    border: 1px solid black;
}

div.toolBox {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 30px;
    background: green;
    width: 98%;
    padding: 15px 10px 0px 10px;
    color: white;
}